<h1><center>Profile</center></h1><br><br><hr>
<center>
<label><h2 style='color:dodgerblue'><b>BMR:</b></h2></label>
<h3>{{M.BMR}}</h3><br>
<label><h2 style='color:dodgerblue'><b>HeartPulseRate</b></h2></label>
<h3>{{M.HeartPulse}}</h3><br>
<label><h2 style='color:dodgerblue'><b>Severity of Situation</b></h2></label>
<h3>{{M.Severity}}</h3><br>
<label><h2 style='color:dodgerblue'><b>OverAll Feeling of Patient</b></h2></label>
<h3>{{M.OverAll}}</h3><br>
<a href='/msg' ><button class='btn btn-primary'>Contact</button></a>
<a href='/pat/{{patter}}'><button class='btn btn-success btn-md'> Set Patient free  </button></a>
</center>
