<h1> Assigned Tasks</h1>
<ul class="list-group list-group-flush">
    {{#each Task}}
    <li class="list-group-item list-group-flush">
        {{#if this.hide}}
        {{else}}
            {{#if this.status}}
                {{#if this.active}}
                    <a href="/pat/{{this.user}}"><p style="color:rgb(255, 255, 1);font-weight:600;font-size:18px">{{this.user}}</p></a>
                    
                {{else}}
                    
                        <p style="color:red;font-weight:600;font-size:18px">{{this.user}}</p>
                    <a class="btn btn-primary" href='/assign/{{this.user}}'>Set Price</a>
                    <a class="btn btn-danger" href='/del/{{this.user}}'>Reject</a>
                {{/if}}

                <p style="color:rgb(255, 0, 21);font-weight:500">{{this.Cost}}</p>
            {{else}}
                <p style="color:rgb(0, 255, 0);font-weight:600;font-size:18px">{{this.user}}</p>
                <a href="/hide/{{this.user}}" class="btn btn-primary"> Hide Task</a>
            {{/if}}
        {{/if}}   
    </li>
    {{/each}}
</ul>